@use '../variables/colors.scss' as c;
@use '../variables/fonts.scss' as f;
@use '../mixins/breakpoints' as *;

button {
    font-family: f.$primary-font;
    letter-spacing: 1px;
    background: none;
    padding: 0 16px;
    height: 32px;
    color: c.$white;
}

.button-primary {
    background-color: c.$primary;
}

.button-secondary {
    background: none;
    border: solid 1px c.$white;
}

.button-danger {
    color: c.$danger;
    background: none;
    padding: 0;
}

%button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button-accept {
    @extend %button;
    background-image: url("/svg-icons/check.svg");
}

.button-cancel {
    @extend %button;
    background-image: url("/svg-icons/cancel.svg");
}

.button-rename {
    @extend %button;
    background-image: url("/svg-icons/rename.svg");
}

.button-export {
    @extend %button;
    background-image: url("/svg-icons/export.svg");
}

.button-import {
    @extend %button;
    background-image: url("/svg-icons/import.svg");
}

.button-trash {
    @extend %button;
    background-image: url("/svg-icons/trash.svg");
}