@use '../variables/colors.scss' as c;
@use '../variables/fonts.scss' as f;
@use '../mixins/breakpoints' as *;

button {
    font-family: f.$primary-font;
    letter-spacing: 1px;
    background: none;
    padding: 0 16px;
    height: 32px;
    border-radius: 4px;
    color: c.$white;
}

.button-primary {
    background-color: c.$primary;
}

.button-accept {
    padding: 0;
    color: c.$accept;
}

.button-secondary {
    background: none;
    border: solid 1px c.$white;
}

.button-danger {
    color: c.$danger;
    background: none;
    padding: 0;
}