@use '../variables/colors.scss' as c;
@use '../variables/fonts.scss' as f;
@use '../mixins/breakpoints' as *;

.card {
    background-color: c.$black;
    position: relative;
    transition: .1s;

    @include break(tablet) {
    }

    @include break(laptop) {
    }

    @include break(desktop) {
    }

    &:hover {
        cursor: pointer;
    }

    &--loadout {
        height: 120px;
        width: 120px;

        @include break(tablet) {
            height: 140px;
            width: 150px;
        }
    
        @include break(laptop) {
            height: 110px;
            width: 100%; 
        }
    
        @include break(desktop) {
            height: 150px;
        }
    }

    &--finder {
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        height: 100%;
        padding: 8px;
        overflow: hidden;

        @include break(tablet) {
        }
    
        @include break(laptop) {
            padding: 8px 8px 16px 8px;
            align-items: center;
        }
        
        @include break(desktop) {
            padding: 8px 8px 24px 8px;
            gap: 8px;
        }

        &--finder {
            justify-content: space-between;
            padding: 16px;
        }
    }

    &__image {
        max-height: 100%;
        width: fit-content;
    }

    &__title {
        font-size: f.$card-title-mobile;

        @include break(tablet) {
            font-size: f.$card-title-tablet;
        }

        @include break(laptop) {
            font-size: f.$card-title-laptop;
        }

        @include break(desktop) {
            font-size: f.$card-title-desktop;
        }
    }

    &--t {
        &:hover {
            @include break(laptop) {
                box-shadow: c.$hover-shadow-t;
            }
        }
    }

    &--ct {
        @include break(laptop) {
            &:hover {
                box-shadow: c.$hover-shadow-ct;
            }
        }       
    }
}