@use '../variables/colors.scss' as c;
@use '../variables/fonts.scss' as f;
@use '../mixins/breakpoints' as *;

input {
    padding: 8px 24px;
    background: none;
    background-color: c.$black;
    height: 48px;
    border-radius: 24px;
    color: c.$white;
    width: 100%;

    &:focus {
        border: solid 2px c.$white;
    }
}