@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;

.inventory {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    height: 100%;

    @include break(tablet) {
    }

    @include break(laptop) {
        height: calc(100dvh - 72px);
        max-height: calc(1080px - 72px);
    }

    @include break(desktop) {
    }

    &--ct-theme {
        background: c.$ct-body-gradient;
    }

    &--t-theme {
        background: c.$t-body-gradient;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        padding-bottom: 32px;

        @include break(tablet) {
        }
    
        @include break(laptop) {
            padding-bottom: 60px;
        }
    
        @include break(desktop) {
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include break(tablet) {
        }

        @include break(laptop) {
        }

        @include break(desktop) {
            gap: 16px;
        }

        &--terrorist {
            @include break(laptop) {
                text-align: end;
            }
        }
    }

    &__weapon-category {
        display: flex;
        gap: 8px;
        overflow: auto;

        &--terrorist {
            @include break(laptop) {
                direction: rtl;
                text-align: left;
            }
        }

        @include break(tablet) {
            width: 100%;
        }

        @include break(laptop) {
            overflow: unset;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }

        @include break(desktop) {
        }
    }
}
