@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;

.inventory {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 32px;
    margin-bottom: 120px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__weapon-category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        @include break(tablet) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include break(laptop) {
            grid-template-columns: repeat(6, 1fr);
        }

        @include break(desktop) {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
