@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;
@use '../../style/variables/fonts' as f;

.wear-picker {
    position: absolute;
    right: 0;
    bottom: 0;
    width: fit-content;
    padding: 4px 8px;
    background-color: c.$green-grey;
    font-size: f.$wear-picker-mobile;

    &__options {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        height: 100%;
    }

    &__option {
        height: 100%;
        background-color: c.$green-grey;
        font-size: f.$wear-picker-mobile;
        width: 30px;
        padding: 4px 8px;

        &:hover {
            background-color: c.$medium-grey;
        }        
    }
}