@use '../../style/mixins/breakpoints' as *;
@use '../../style/variables/colors' as c;

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include break(tablet) {
        margin-bottom: 48px;
    }

    @include break(laptop) {
        margin-bottom: 16px;
    }

    @include break(desktop) {
        margin-bottom: 24px;
    }

    input {
        padding: 0 24px;
        height: 32px;
        background: none;
        background-color: c.$black;
        color: c.$white;
        width: 100%;
        border: solid 2px c.$black;
    
        &:focus {
            border: solid 1px c.$white;
        }
    }

    &__buttons {
        display: flex;
        position: relative;
        gap: 4px;
        align-items: center;
        padding: 4px 16px;
        border: solid rgba(c.$white, .4) 1px;
        border-radius: 25px;
        
        @include break(tablet) {
        }
        
        @include break(laptop) {
            gap: 8px;
        }
        
        @include break(desktop) {
        }
    }
    
    button {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;

        &:hover {
            scale: 1.1;
        }
    }


    &__import {
        background-image: url("/svg-icons/import.svg");
    }

    &__export {
        background-image: url("/svg-icons/export.svg");
    }
}