@use '../../style/mixins/breakpoints' as *;
@use '../../style/variables/colors' as c;

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include break(tablet) {
    }

    @include break(laptop) {
    }

    @include break(desktop) {
    }

    &__buttons {
        display: flex;
        position: relative;
        gap: 16px;
        align-items: center;
        background-color: rgba(c.$green-grey, .3);
        padding: 8px 16px;
        border-radius: 32px;

        @include break(tablet) {
            padding: 16px 24px;
        }
    
        @include break(laptop) {
            padding: 8px 16px;
        }
    
        @include break(desktop) {
            padding: 16px 24px;
        }
    }

// Shared base styles for all import buttons
%button {
    background-position: center;
    background-size: contain;

    &:hover {
        filter: invert(53%) sepia(41%) saturate(4705%) hue-rotate(6deg) brightness(100%) contrast(96%);
    }
}


&__import {
    @extend %button;
    background-image: url("/svg-icons/import.svg");
}

&__export {
    @extend %button;
    background-image: url("/svg-icons/export.svg");
}

    &__spacer {
        height: 24px;
        width: 1px;
        background-color: rgba(c.$white, .3);
    }
}