@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;
@use '../../style/mixins/breakpoints' as *;

.filter {
    display: flex;
    position: relative;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: c.$black;
    padding: 0 8px 0 16px;

    @include break(tablet) {
    }

    @include break(laptop) {
        width: calc(100% - 4px);
    }

    @include break(desktop) {
    }

    &__dropdown-button {
        padding: 0;
        background-color: c.$black;
    }

    &__sort-rarity {
        height: 100%;
        padding: 0;
    }

    &__dropdown {
        position: absolute;
        top: 64px;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 8px;
        border-radius: 8px;
        z-index: 2;
        background-color: c.$black;
        width: 100%;
        overflow: auto;
        max-height: 300px;

        @include break(tablet) {
        }
    
        @include break(laptop) {
        }
    
        @include break(desktop) {
        }
    }

    &__dropdown-item {
        &:hover {
            cursor: pointer;
            color: c.$primary;
        }
    }

    &__close {
        margin-left: auto;
    }
}