@use '../../style/mixins/breakpoints' as *;

.faction-picker {

    &__icon {
        height: 40px;
        width: 40px;
        border-radius: 28px;
        transition: .1s;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: .2;

        @include break(tablet) {
            height: 64px;
            width: 64px;
        }
    
        @include break(laptop) {
            height: 40px;
            width: 40px;
        }
    
        @include break(desktop) {
            height: 48px;
            width: 48px;
        }

        &:hover {
            transition: .1s;
            opacity: 1;
        }
        
        &--ct {
            background-image: url("/default-icons/Ct-patch-small.webp");
            background-size: 100% !important;
        }
    
        &--t {
            background-image: url("/default-icons/Icon-t-patch-small.webp");
            background-size: 100% !important;
        }

        &--active {
            opacity: 1;
        }
    }
}
  