$primary: #EB7905;
$white: #FFFFFF;
$dark-grey: #171717;
$medium-grey: #272826;
$green-grey: #2B2D29;
$danger: #d80000;
$black: #1d1d1d;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

$body-gradient: 
    linear-gradient(135deg, 
        $green-grey 10%,
        $medium-grey 30%,
        $dark-grey 100% 
    );