@use '../../style/mixins/breakpoints' as *;

.page-container {
    margin: 0 auto;
    width: 90%;
    max-width: 480px;

    @include break(tablet) {
        width: 100%;
        max-width: 720px;
    }

    @include break(laptop) {
        max-width: 960px;
    }

    @include break(desktop) {
        max-width: 1280px;
    }
}
