@use '../../../style/variables/colors' as c;
@use '../../../style/variables/fonts' as f;

.header {
    padding: 24px 0;
    font-family: f.$primary-font;

    &__logo {
        max-width: 100px;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__version-text {
        opacity: .2;
    }
}