@use '../../../style/variables/colors' as c;

.header {
    height: 88px;
    margin-bottom: 120px;
    background-color: c.$black;

    &__inner {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
            max-height: 80px;
            margin-right: auto;
        }
    }
}