@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;

dialog {
    background-color: #000000b7;
    color: c.$white;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(4px);

    button {
        color: c.$white;
    }

    input {
        background-color: c.$white;
        padding: 8px;
    }

    .finder {
        display: flex;
        flex-direction: column;
        height: 90%;
        gap: 4px;

        @include break(tablet) {
        }

        @include break(laptop) {
        }

        @include break(desktop) {
        }

        &__item-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            overflow-y: auto; 
            gap: 4px;

            @include break(tablet) {
                grid-template-columns: repeat(4, 1fr);
            }
    
            @include break(laptop) {
                grid-template-columns: repeat(5, 1fr);
            }
    
            @include break(desktop) {
            }
        }
    }
}
