.rename-button {
    background-position: center;
    background-size: contain;
    background-image: url("/svg-icons/rename.svg");
}

.rename-modal {

    &__inner {
        display: flex;
        justify-content: center;
    }

    input {
        max-width: 50%;
        color: black;
    }
}