@use '../../style/mixins/breakpoints' as *;

.agent {
    display: none;

    @include break(laptop) {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        max-height: 1000px;
        z-index: -1;
        opacity: .5;
        
        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("/default-icons/Ct-patch-small.webp"); // fallback in case of error
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            display: flex;
            align-items: flex-start;
            justify-content: end;
            filter: blur(10px);

            &--terrorist {
                background-position: left;
            }
        }
    }
}