.agent {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    &__image {
        width: 100%;
        height: 100%;
        background-image: url("/default-icons/Ct-patch-small.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        align-items: flex-start;
        justify-content: end;
    }
}