@use '../../../style/variables/colors' as c;
@use '../../../style/mixins/breakpoints' as *;

.footer {
    background-color: c.$black;
    padding: 24px 0;

    @include break(tablet) {
    }

    @include break(laptop) {
        padding: 120px 0;
    }

    @include break(desktop) {
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}