@use '../../style/variables/colors' as c;

.skin-card {
    background-color: c.$medium-grey;
    color: c.$white;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &:hover {
        cursor: pointer;
    }
    
    &__rarity {
        width: 100%;
        height: 4px;
    }
}